<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundSights</title>
</head>

<body>
    <%- include('../partials/header'); -%>

        <main>

            <div class="logo">
                <span>Sound</span>
                <span class="gradient-logo">Sights</span>
            </div>

            <span class="page-subtitle">
                Discover your perfect travel destinations with a single playlist.
            </span>

            <button class="try-button" onclick="tryItOut();">
                Try It Out
            </button>


            <div class="animation-container-outer">
                <div class="animation-container" id="animation-container">
                </div>
            </div>
        </main>


        <div id="location-page" class="location-page">
            <span class="location-heading">Start by entering your location</span>
            <div class="location-input-container">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"
                    version="1.1" id="Capa_1" width="800px" height="800px" viewBox="0 0 395.71 395.71"
                    xml:space="preserve">
                    <g>
                        <path
                            d="M197.849,0C122.131,0,60.531,61.609,60.531,137.329c0,72.887,124.591,243.177,129.896,250.388l4.951,6.738   c0.579,0.792,1.501,1.255,2.471,1.255c0.985,0,1.901-0.463,2.486-1.255l4.948-6.738c5.308-7.211,129.896-177.501,129.896-250.388   C335.179,61.609,273.569,0,197.849,0z M197.849,88.138c27.13,0,49.191,22.062,49.191,49.191c0,27.115-22.062,49.191-49.191,49.191   c-27.114,0-49.191-22.076-49.191-49.191C148.658,110.2,170.734,88.138,197.849,88.138z" />
                    </g>
                </svg>
                <input placeholder="Sydney, Australia" onchange="checkAddress(this)" oninput="addressChanged();"/>
                <!-- Spinner from loading.io-->
                <div class="lds-ring" style="display:none;"><div></div><div></div><div></div><div></div></div>
            </div>
            <span class="location-error" style="display:none;">Oops, that address doesn't quite look right, try again!</span>
            <button class="location-confirm" onclick="moveToSigninPage();">Check Address</button>
        </div>

        <div id="signin-page" class="signin-page">
            <span class="signin-heading">Sign in with your favourite streaming service so we can judge your
                taste!</span>
            <button class="signin-spotify" onclick="window.location.href='/signin'">Sign In With Spotify</button>
            <button class="signin-apple">Sign In With Apple Music</button>
        </div>

</body>

</html>