<main>
    <style>
        .test {
            font-family: 'Poppins', sans-serif;
        }

        .gradient {
            font-size: 72px;
            background: -webkit-linear-gradient(#eee, #333);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style>
    <div style="text-align:center;margin:20px 0;">
        <span class="test" style="
        color: #a6a4a4;
        font-weight: normal;
    ">Sound</span>
        <span class="test gradient"
           >Sights</span>
    </div>
</main>