body {
    background-color: #fafafa;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    transition: left 0.5s;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 13vh;
    color: #a6a4a4;
    font-weight: normal;
    display: inline-flex;
}

.gradient-logo {
    font-weight: bold;
    background: linear-gradient(to left, rgb(29, 185, 84), rgb(17, 238, 119));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page-subtitle {
    padding: 0rem 20vw;
    font-size: 3vh;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    margin-top: 5vh;
}

.try-button {
    cursor: pointer;
    margin-top: 8vh;
    padding: 2vh;
    font-size: 3.5vh;
    font-family: 'Roboto Mono', monospace;

    border-radius: 2rem;
    background-color: #1DB954;
    color: hsl(0, 0%, 95%);
    text-align: center;
    border: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, scale 0.3s;
    scale: 1.2;
}

.try-button:hover {
    background-color: #11d26b;
}

.animation-container-outer {
    margin-top: auto;
    margin-bottom: 6vh;
    height: 45vh;
    width: 100%;
    overflow: hidden;
    scale: 0.8;
}

.animation-container {
    width: 100%;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    transition: flex 0.2s, margin-top 0.3s;
    overflow: hidden;
}

.animation-searching {
    font-size: 2.5vh;
    font-family: 'Roboto Mono', monospace;
    display: block;
    animation: fade-in 1s forwards;
    opacity: 0;
    padding: 4rem 0rem;

    transition: opacity 0.2s;
}


.animation-finding {
    font-size: 2.5vh;
    font-family: 'Roboto Mono', monospace;
    display: block;
    animation: fade-in 1s forwards;
    opacity: 0;
    padding: 4rem 0rem;
    transition: opacity 0.2s;
}

.album-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    transition: flex 0.2s;
}

.animation-album {
    height: 15vw;
    object-fit: cover;
    aspect-ratio: 1/1;
    animation: fade-in 1s forwards;
    margin: 1rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.2s, scale 0.2s;
}

.animation-album:hover {
    scale: 1.2;
}

.venue-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    margin: 1rem;
    animation: fade-in 1s forwards;
    opacity: 0;
}

.venue-item img {
    width: 100% !important;
}

.venue-item span {
    font-family: 'Poppins';
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}


/* Now the sign in page */

.signin-page {
    position: absolute;
    top: 0;
    left: 100vw;
    width: 100vw;
    height: 100vh;
    transition: left 0.3s;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-heading {
    font-size: 3vh;
    margin: 10vh 0;
    width: 50%;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.signin-spotify {
    cursor: pointer;
    margin-top: 8vh;
    padding: 2vh;
    font-size: 3.5vh;
    font-family: 'Roboto Mono', monospace;

    border-radius: 2rem;
    background-color: #1DB954;
    color: hsl(0, 0%, 95%);
    text-align: center;
    border: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.signin-spotify:hover {
    background-color: #11d26b;

}

.signin-apple {
    cursor: pointer;
    margin-top: 8vh;
    padding: 2vh;
    font-size: 3.5vh;
    font-family: 'Roboto Mono', monospace;

    border-radius: 2rem;
    background-color: #fc3c44;
    color: hsl(0, 0%, 95%);
    text-align: center;
    border: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}
.signin-apple:hover {
    background-color: #f94c57;
}
