body {
    background-color: #fafafa;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    transition: left 0.5s;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 13vh;
    color: #a6a4a4;
    font-weight: normal;
    display: inline-flex;
}

.gradient-logo {
    font-weight: bold;
    background: linear-gradient(to left, rgb(29, 185, 84), rgb(17, 238, 119));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page-subtitle {
    padding: 0rem 20vw;
    font-size: 3vh;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    margin-top: 5vh;
}

.try-button {
    cursor: pointer;
    margin-top: 8vh;
    padding: 2vh;
    font-size: 3.5vh;
    font-family: 'Roboto Mono', monospace;

    border-radius: 2rem;
    background-color: #1DB954;
    color: hsl(0, 0%, 95%);
    text-align: center;
    border: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, scale 0.3s;
    scale: 1.2;
}

.try-button:hover {
    background-color: #11d26b;
}

.animation-container-outer {
    margin-top: auto;
    margin-bottom: 6vh;
    height: 45vh;
    width: 100%;
    overflow: hidden;
    scale: 0.8;
}

.animation-container {
    width: 100%;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    transition: flex 0.2s, margin-top 0.3s;
    overflow: hidden;
}

.animation-searching {
    font-size: 2.5vh;
    font-family: 'Roboto Mono', monospace;
    display: block;
    animation: fade-in 1s forwards;
    opacity: 0;
    padding: 4rem 0rem;

    transition: opacity 0.2s;
}


.animation-finding {
    font-size: 2.5vh;
    font-family: 'Roboto Mono', monospace;
    display: block;
    animation: fade-in 1s forwards;
    opacity: 0;
    padding: 4rem 0rem;
    transition: opacity 0.2s;
}

.album-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    transition: flex 0.2s;
}

.animation-album {
    height: 15vw;
    object-fit: cover;
    aspect-ratio: 1/1;
    animation: fade-in 1s forwards;
    margin: 1rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.2s, scale 0.2s;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

.animation-album:hover {
    scale: 1.05;
    background-image: var(--album-background-image);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

.venue-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    margin: 1rem;
    animation: fade-in 1s forwards;
    opacity: 0;
}

.venue-item img {
    width: 100% !important;
}

.venue-item span {
    font-family: 'Poppins';
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Next the location page */

.location-page {
    position: absolute;
    top: 0;
    left: 100vw;
    width: 100vw;
    height: 100vh;
    transition: left 0.3s;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-input-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 8vh;
    width: 60vw;

    background-color: hsl(0, 0%, 90%);
    border-radius: 1rem;
    color: hsl(0, 0%, 50%);

}
.location-input-container svg{
    height: 8vh;
    width: 8vh;
    fill: hsl(0, 0%, 50%);

}


.location-input-container input{
    width: 100%;
    background-color: hsl(0, 0%, 90%);
    border-radius: 1rem;
    border: none;
    font-size: 4vh;
    font-family: 'Roboto Mono', monospace;

}

.location-heading {
    font-size: 3vh;
    margin: 10vh 0;
    width: 50%;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.location-error {
    font-size: 2vh;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: rgb(232, 56, 56);
}

.location-confirm {
    cursor: pointer;
    margin-top: 8vh;
    padding: 2vh;
    font-size: 3.5vh;
    font-family: 'Roboto Mono', monospace;

    border-radius: 2rem;
    background-color: #1DB954;
    color: hsl(0, 0%, 95%);
    text-align: center;
    border: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.location-confirm:hover {
    background-color: #11d26b;

}

/* Now the sign in page */

.signin-page {
    position: absolute;
    top: 0;
    left: 100vw;
    width: 100vw;
    height: 100vh;
    transition: left 0.3s;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-heading {
    font-size: 3vh;
    margin: 10vh 0;
    width: 50%;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.signin-spotify {
    cursor: pointer;
    margin-top: 8vh;
    padding: 2vh;
    font-size: 3.5vh;
    font-family: 'Roboto Mono', monospace;

    border-radius: 2rem;
    background-color: #1DB954;
    color: hsl(0, 0%, 95%);
    text-align: center;
    border: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.signin-spotify:hover {
    background-color: #11d26b;

}

.signin-apple {
    cursor: pointer;
    margin-top: 8vh;
    padding: 2vh;
    font-size: 3.5vh;
    font-family: 'Roboto Mono', monospace;

    border-radius: 2rem;
    background-color: #fc3c44;
    color: hsl(0, 0%, 95%);
    text-align: center;
    border: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}
.signin-apple:hover {
    background-color: #f94c57;
}


/* Loading.io  Spinner*/
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    /* height: 80px; */
    margin-right: 1rem;
    scale: 0.8;
    height: 100%;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid hsl(0, 0%, 50%);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color:hsl(0, 0%, 50%) transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  