body {
  background-color: #fafafa;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  transition: left 0.5s;
}


.splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.splash-head {
  margin-top: 5vh;
  font-size: 3.5vh;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  margin: 5vh;
  width: 50%;

}

.splash-list {
  /* height: 2.5vh; */
  width: 50%;
  overflow: hidden;
  margin-top: 10vh;
}

.splash-list-inner {
  display: flex;
  flex-direction: column;

  height: 50vh;
  justify-content: flex-start;
}

.splash-list-inner span {
  font-size: 2.5vh;
  font-family: 'Roboto Mono', monospace;
  text-align: left;
  opacity: 0;
  display: block;
  animation: fade-in 0.5s forwards;
}

.results {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.results-head {
  background-color: #1DB954;
  color: white;
  width: 100%;
  padding: 2vh 0;
  font-family: 'Roboto Mono', monospace;
  text-align: left;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.results-head span {
  margin-left: 1rem;
  font-size: 3vh;
}

.results-country {
  font-size: 6vh !important;
  font-weight: bold;
}

.section-heading {
  font-size: 3.5vh;
  font-family: 'Roboto Mono', monospace;
  text-align: left;
  margin: 3vh;
}

.event-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 15vh;
  margin-left: 5vh;
}

.event-item {
  height: 90%;
  width: 45vh;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  margin: 1rem;
  overflow: hidden;
  cursor: pointer;
  transition: scale 0.3s, background-color 0.3s;

}

.event-item:hover {
  /* scale: 1.1; */
  background-color: #eeeeee;
}

.event-item div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  font-size: 3vh;
  font-family: 'Roboto Mono', monospace;
  text-align: left;
  margin-left: 1rem;
}

.event-item a {
  text-decoration: none;
  color: #1DB954;
  cursor: pointer;
  font-size: 2vh;

}


.event-item img {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.shareable {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.shareable svg {
  fill: white;
  scale: 2;
  margin-right: 1rem;
}

.shareable span {
  padding: 0.5rem;
  background-color: white;
  border-radius: 12px;
  font-size: 2vh;
  font-family: 'Roboto Mono', monospace;


}


.genre-container {
  font-family: 'Roboto Mono', monospace;
  font-size: 3vh;
  margin-left: 5vh;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;

}
.genre-container div{
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}
/* Loading.io  Spinner*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  /* margin-right: 1rem; */
  /* scale: 0.8; */
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid hsl(0, 0%, 50%);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: hsl(0, 0%, 50%) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}